@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

blockquote,
blockquote[epub|type~="z3998:song"],
blockquote[epub|type~="z3998:verse"]{
	text-align: center;
}

blockquote p{
	margin-top: .5em;
	text-indent: 0;
}

blockquote.telegram{
	margin-left: 4em;
	margin-right: 4em;
	text-align: justify;
}

blockquote .telegram-heading{
	margin-right: 1em;
	text-align: right;
}

blockquote[xml|lang]{
	font-style: italic;
}

#chapter-13 blockquote{
	font-variant: all-small-caps;
}

[epub|type~="se:name.publication.book"]{
	font-style: italic;
}

q{
	font-style: italic;
}
