@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

blockquote,
blockquote[epub|type~="z3998:song"],
blockquote[epub|type~="z3998:verse"]{
	text-align: center;
}

blockquote[epub|type~="title"]{
	font-style: italic;
}

blockquote p.continued{
	margin-top: 1em;
}

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}
